.row{
    padding: 20px;
    background-color: blanchedalmond;

}

.contenedor{
    width: auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify ;
}

.img-proyecto{
    box-shadow: 10px 10px 20px rgba(43, 17, 58, 0.637);

}