<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt=""id="logoAP">
         </div>
        <div class="redes">
                <a href="https://www.linkedin.com/in/agustina-aperlo-909a81198/"><img src="../../../assets/linkedin.png" alt="" id="linkedin"></a>
                <a href="https://www.facebook.com/agustina.aperlo/"><img src="../../../assets/facebook.png" alt="" id="facebook"></a>
                <a href="https://github.com/magustinaperlo"><img src="../../../assets/github.png" alt=""id="github"></a>
                <a href="https://www.instagram.com/agus_aperlo/"><img src="../../../assets/instagram.png" alt=""id="instagram"></a>
                <a href="https://twitter.com/agusaper"><img src="../../../assets/twitter.png" alt="" id="twitter"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>  
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Salir</button>    
        </div>
    </div>
</div>


