<div class="row">
<h1>Experiencia Laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
    <ul>
        <li><h1>Trabajo 1</h1>-<h3>(years)</h3></li>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque ad reprehenderit laboriosam a earum impedit laudantium eius nemo fugit atque dolorem rerum odio velit saepe vitae, at nostrum alias hic?
        </p>
    </ul>
    <ul>
        <li><h1>Trabajo 2</h1>-<h3>(years)</h3></li>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque ad reprehenderit laboriosam a earum impedit laudantium eius nemo fugit atque dolorem rerum odio velit saepe vitae, at nostrum alias hic?
        </p>
    </ul>
    <ul>
        <li><h1>Trabajo 3</h1>-<h3>(years)</h3></li>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque ad reprehenderit laboriosam a earum impedit laudantium eius nemo fugit atque dolorem rerum odio velit saepe vitae, at nostrum alias hic?
        </p>
    </ul>
</div>
</div>
